#social-slider  .carousel-indicators li {
	border-radius: 4px;
	width:80px;
	height:4px;
	border-color: #9ea1a5;
	padding:0;
	background-color: #9ea1a5;
	margin:0;
}
#social-slider  .carousel-indicators li.active {
	background-color: #040711;
	border-color: #040711;
}
#social-slider .display-name a {
	 color: #171922;
	 margin-right:10px;
}
#social-slider .meta .date {
	margin-left:10px;
}
#social-slider .carousel-indicators{
	bottom:-45px;
	width:100% ;
	left:30% ;
}
#social-slider {
	margin-bottom: 40px;
}

#social-slider .thumbnail {
	width:auto;
	height:210px;
  margin:0;
  margin-right: 40px;
	border:0;
	padding:0;
}
#social-slider .item {
margin-top:30px;
cursor:pointer;
}

#social-slider .item .wrapper {
	border: 1px solid #b4b6ba;
	padding: 30px 40px;
	display:flex;
	color:black;
	font-size:20px;
z-index: 12001;
}
#social-slider .item:hover{
	background-color: rgba(100,100,100,.1);
	transition: 0.2s;

} 

#social-slider .date {
	cursor:default;
}
#social-slider  .meta {
	margin-bottom:10px;
    color: #171922;
    font-size: 12px;
    letter-spacing: .2em;

}

#social-slider .icon {
	position:absolute;
	right:10px;
	top:10px;
}



.ghost-link {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
z-index:0;

}

.slider-content{
cursor:default;
}


@media (max-width: 768px) { 
#social-slider .thumbnail {
	width:auto;
	height:150px;
}

#social-slider .item .wrapper {
	padding:10px;
}

#social-slider .thumbnail {

	margin-right: 20px;
}

 }

 @media (max-width: 550px) { 
#social-slider .thumbnail {
	width:auto;
	height:70px;
	margin-right: 10px;
}

#social-slider .item .wrapper {
	padding:5px;
}
 }